body{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

.header{
  display: flex;
  padding: 9.5px;
  position: fixed;
  top:0;
  left:0;
  width:100%;
  box-sizing: border-box;
  border-bottom: solid seashell 1px;
  margin: 0;
  height: 69px;
  background-color: black;
}

body{
  margin: 0;
}

.logo-container {
  display: flex;
  flex-grow: 1;
  height: 50px;
}

nav{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header li{
  display: inline-block;
  text-decoration: underline;
  margin: 0 5px;
}

.header a{
  color: seashell;
}

.major{
  margin: 20px;
}

#mission{
  display: flex;
  background-image: url(img-mission-background.jpg);
  background-size: cover;
  height: 700px;
  width: 1200px;
  margin: 0 auto;
  margin-top: 69px;
  background-color: black;
  justify-content: center;
  align-items: center;
}

.content {
  padding: 0px;
  margin: 0px;
  width: 1200px;
  background-color: black;
}

#feature{
  width: 1000px;
  margin: 0 auto;
  padding-top: 69px;
}

#feature img{
  height: 200px;
  width: 300px;
}

#feature h4{
  margin: 10px;
}

.images{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.berry{
  margin:
  display: flex;
  flex-direction: column;
}

.rum{
  display:flex;
  flex-direction: column;
}

.donuts{
  display: flex;
  flex-direction: column;
}

.ave{
  display:flex;
  flex-direction: column;
  margin-left: 175px;
}

.bedford{
  display:flex;
  flex-direction: column;
  margin-right: 175px;
}


#location{
  background-image: url(img-locations-background.jpg);
  background-repeat: no-repeat;
  height: 500px;
  width: 1200px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-top: 69px;
  padding-top: 69px;
}


#location .con{
  width: 1200px;
}


.block{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.downtown{
  margin-right: 40px;
  background-color: black;
  width: 300px;
  height: 270px;
    text-align: center;
}

.bayside{
  background-color: black;
  width: 300px;
  height: 270px;
  text-align: center;
}

.oakdale{
  background-color: black;
  margin-left: 40px;
  width: 300px;
  height: 270px;
  text-align: center;
}

#location .p{
  margin-top: 15px;
}

.fourth{
  height: 200px;
}

.footer{
  text-align: left;
  font-size: 18px;
  font-weight: bold;
}
